@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom */
body { @apply bg-gradient-to-br from-indigo-50 via-white to-purple-50; }
.mark { background-color: #ffcccb; color: #000; padding: 0 2px; border-radius: 3px; }
